$c-primary: #e7dba9;
$c-secondary: #eaecf2;

$c-error: #d46b68;
$c-success: #7CC954;

// GENERAL
$white: #ffffff;
$black: #202020;
$gray: #f6f6f6;
$bg-main: #f4f6f9;

// FUENTES
$roboto: "Roboto", sans-serif;

// VARIABLES PARA GROSOR DE FUENTES
$fw-ligth: 400;
$fw-normal: 500;
$fw-bold: 700;

// VAROABLES TAMAÑO DE LETRAS
$font-size-xxxs: 0.5rem;
$font-size-xxs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.75rem;
$font-size-xxxl: 3.5rem;
