$c-primary: #f5df66;

$c-secondary: #eaecf2;

$c-error: #f38c88;
$c-success: #6fa851;

// GENERAL
$white: #ffffff;
$black: #202020;
$gray: #f6f6f6;
$gray-dark: #b8b8b8;
$bg-main: #f4f6f9;

$c-text: #2f3c52;
$c-text-error: #ec645f;

// FUENTES
$roboto: "Roboto", sans-serif;

// VARIABLES PARA GROSOR DE FUENTES
$fw-ligth: 400;
$fw-normal: 500;
$fw-bold: 700;

// VAROABLES TAMAÑO DE LETRAS
$font-size-xxxs: 0.5rem;
$font-size-xxs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.75rem;
$font-size-xxxl: 3.5rem;